@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {  
  display: none;
  width: 0.1em;
}

.visivel {
  animation: visivel-anim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* classe para o estado oculto */
.oculto {
  animation: oculto-anim;
  animation-duration: 0.2s;  
  animation-fill-mode: forwards;
}

@keyframes visivel-anim{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes oculto-anim{
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
    display: none;
  }
}

.bg-defalt{
  background-color: #AAB7B8;
}

.btn-primary{
  background-color: #5b7bb4;
  color: white;
  transition-duration: 0.2s;
}

.btn-primary:hover{
  background-color: #365a99;
  transition-duration: 0.2s;
}

.btn-danger{
  background-color: #cc2121;  
  color: white;
  transition-duration: 0.2s;
}


.btn-danger:hover{
  background-color: #6b1414;  
  transition-duration: 0.2s;
}

.bg-secondary{
  background-color: rgba(226 232 240 0.2);
}